/**
 * Jags Font Face Definition
 * Import this CSS file in your app to load the custom Jags font used in headings
 */

@font-face {
  font-family: 'Jags';
  src: url('./fonts/jags.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}